<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="GeneralLoggerFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--로그 파일 경로-->
      <file value="${LocalAppData}/CounterWatchAgent/logs/general_log.txt"/>
      <!--lockingModel type="log4net.Appender.FileAppender+MinimalLock" /-->
      <!--로그 파일을 붙여 쓰기 할 것인지 여부, 만약 false이면 프로그램을 실행할 때 마다 Event_Log_2020_02_28.1.txt와 같은 식으로 파일이 생성된다. MaxSizeRollBackups에 지정한 갯수만큼 최대 생성되고 그 이상이 되면 롤링된다. 만약 true이면 Event_Log_2020_02_28.txt와 같인 처음 파일에 계속 이어 쓴다.-->
      <appendToFile value="true" />
      <!--날짜 및 파일 크기 기준으로 파일을 롤링한다.-->
      <rollingStyle value="Date" />
      <!--파일 이름에 사용할 날짜명 패턴-->
      <datePattern value="_yyyyMMdd" />
      <!--롤링할 최대 갯수, 즉 EventLog_20200228.txt 파일이 최대 크기에 도달하면, 이 파일의 이름은 EventLog_20200228.1.txt로 바뀌고, EventLog_20200228.txt 파일은 처음부터 새로 기록한다. 만약 EventLog_20200228.1.txt 파일이 있었다면 이 파일은 EventLog_20200228.2.txt로 이름이 변경된다. EventLog_20200228.5.txt가 있었다면 이 파일은 삭제된다.-->
      <maxSizeRollBackups value="5" />
      <!--파일이 최대 크기에 도달하면 롤링된다.-->
      <maximumFileSize value="1MB" />
      <!--// 로그 파일 이름을 고정할 것인지 여부, true이면 Event_Log.txt과 같이 DatePattern이 적용되지 않는 파일에 로그가 기록된다. false이면 Event_Log_2020_02_28.txt과 같이 DatePattern이 적용된 파일이 생성된다.-->
      <staticLogFileName value="false" />
      <!--DatePattern 적용 시 확장자 유지 여부, true이면 Event_Log_2020-02-28.txt, false이면 Event_Log.txt_2020_02_28과 같이 명명됨.-->
      <PreserveLogFileNameExtension value="true"/>
      <!--로그 메세지 패턴 %m은 로깅 메세지, %n은 줄바꿈을 의미한다.-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>

    <appender name="PacketLoggerFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LocalAppData}/CounterWatchAgent/logs/pkt_log.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyyMMdd" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    
    <appender name="WatchLoggerFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LocalAppData}/CounterWatchAgent/logs//watch_log.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="_yyyyMMdd" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <PreserveLogFileNameExtension value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
    </root>
    
    <logger name="generalLogger" additivity="False">
      <level value="DEBUG" />
      <appender-ref ref="GeneralLoggerFileAppender" />
    </logger>
    
    <logger name="packetLogger" additivity="False">
      <level value="DEBUG" />
      <appender-ref ref="PacketLoggerFileAppender" />
    </logger>
    
    <logger name="watchLogger" additivity="False">
      <level value="DEBUG" />
      <appender-ref ref="WatchLoggerFileAppender" />
    </logger>
  </log4net>
</configuration>